<a href="https://colab.research.google.com/github/Anushkajoshi000/assignment-python-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT

PROGRAMS FOR PYTHON

1.) to implement all arithmetic , relational , logical operations

In [ ]:
a = 10
b = 5

# Arithmetic Operators
print('Addition:', a + b)
print('Subtraction:', a - b)
print('Multiplication:', a * b)
print('Division:', a / b)
print('Floor Division:', a // b)
print('Modulus:', a % b)
print('Exponentiation:', a ** b)

# Relational Operators
print('Equal to:', a == b)
print('Not Equal to:', a != b)
print('Greater than:', a > b)
print('Less than:', a < b)
print('Greater than or Equal to:', a >= b)
print('Less than or Equal to:', a <= b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000
Equal to: False
Not Equal to: True
Greater than: True
Less than: False
Greater than or Equal to: True
Less than or Equal to: False

2.) to check no is even or odd

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter a number: 13
13 is odd

3.) to check greater of two nos

In [ ]:
# input the numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# compare the numbers and print the greatest
if num1 > num2:
    print(num1, "is the greatest number")
elif num2 > num1:
    print(num2, "is the greatest number")
else:
    print("Both numbers are equal")

Enter the first number: 12
Enter the second number: 1
12.0 is the greatest number

4.) to check greater of three no's

In [ ]:
# input the numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# compare the numbers and print the greatest
if num1 > num2 and num1 > num3:
    print(num1, "is the greatest number")
elif num2 > num1 and num2 > num3:
    print(num2, "is the greatest number")
elif num3 > num1 and num3 > num2:
    print(num3, "is the greatest number")
else:
    print("All numbers are equal")

Enter the first number: 12
Enter the second number: 15
Enter the third number: 17
17.0 is the greatest number

5.) to find the no is prime or composite

In [ ]:
import math

# input the number
num = int(input("Enter a positive integer: "))
# initialize is_prime to True
is_prime = True
# check if the number is less than or equal to 1
if num <= 1:
    is_prime = False
# check if the number is divisible by any number from 2 to its square root
for i in range(2, int(math.sqrt(num)) + 1):
    if num % i == 0:
        is_prime = False
        break
# print whether the number is prime or composite
if is_prime:
    print(num, "is a prime number")
else:
    print(num, "is a composite number")

Enter a positive integer: 12
12 is a composite number

6.) print all odd no's in a range

In [ ]:
start = 1
end = 10

for num in range(start, end + 1):
    # check if the number is odd
    if num % 2 != 0:
        print(num)

1
3
5
7
9

7.) print all prime no's in a range

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_primes(start, end):
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end+1):
        if is_prime(num):
            print(num)

print_primes(10, 50)

Prime numbers between 10 and 50:
11
13
17
19
23
29
31
37
41
43
47

8.) to find reverse of a number

In [ ]:
def reverse_num(num):
    rev_num = 0
    while num > 0:
        remainder = num % 10
        rev_num = (rev_num * 10) + remainder
        num = num // 10
    return rev_num
num = 12345
rev_num = reverse_num(num)
print(f"The reverse of {num} is {rev_num}")

The reverse of 12345 is 54321

9.) to find the no is palindrom or not

In [ ]:
def is_palindrome(num):
    rev_num = 0
    temp = num
    while temp > 0:
        rev_num = (rev_num * 10) + (temp % 10)
        temp = temp // 10
    if num == rev_num:
        return True
    else:
        return False
num = 12321
if is_palindrome(num):
    print(f"{num} is a palindrome number")
else:
    print(f"{num} is not a palindrome number")

12321 is a palindrome number

10.) Python program to check if a number is an Armstrong number or not:

In [ ]:
def is_armstrong(num):
    n = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** n
        temp //= 10
    if num == sum:
        return True
    else:
        return False
num = 153
if is_armstrong(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

153 is an Armstrong number

11.) to print all armstrong no in range

In [ ]:
def is_armstrong(num):
    n = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** n
        temp //= 10
    if num == sum:
        return True
    else:
        return False
lower = 100
upper = 1000
print(f"Armstrong numbers between {lower} and {upper} are:")
for num in range(lower, upper+1):
    if is_armstrong(num):
        print(num)

Armstrong numbers between 100 and 1000 are:
153
370
371
407

12.)to find the sum of first n natural no's

In [ ]:
def sum_natural_numbers(n):
    sum = 0
    for i in range(1, n+1):
        sum += i
    return sum
n = 10
sum = sum_natural_numbers(n)
print(f"The sum of first {n} natural numbers is {sum}")

The sum of first 10 natural numbers is 55

13.) to find factorial of a given no

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact
n = 5
fact = factorial(n)
print(f"The factorial of {n} is {fact}")

The factorial of 5 is 120

14.) Python program to print the Fibonacci series up to n natural numbers:

In [ ]:
def fibonacci_series(n):
    if n <= 0:
        print("Invalid input! Please enter a positive integer.")
    elif n == 1:
        print("Fibonacci series up to", n, "natural number:")
        print(0)
    else:
        print("Fibonacci series up to", n, "natural numbers:")
        fib_list = [0, 1]
        for i in range(2, n):
            fib_list.append(fib_list[i-1] + fib_list[i-2])
        print(fib_list)
n = 10
fibonacci_series(n)

Fibonacci series up to 10 natural numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

15.) Python program to check if a given year is a leap year or not:

In [ ]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
year = 2024
if is_leap_year(year):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

2024 is a leap year.

16.)Python program to convert temperature from Fahrenheit to Celsius and vice versa

In [ ]:
def fahrenheit_to_celsius(f):
    c = (f - 32) * 5/9
    return c

def celsius_to_fahrenheit(c):
    f = (c * 9/5) + 32
    return f

# Example usage
temp_f = 98.6
temp_c = fahrenheit_to_celsius(temp_f)
print(temp_f, "degrees Fahrenheit is equivalent to", temp_c, "degrees Celsius.")

temp_c = 37
temp_f = celsius_to_fahrenheit(temp_c)
print(temp_c, "degrees Celsius is equivalent to", temp_f, "degrees Fahrenheit.")

98.6 degrees Fahrenheit is equivalent to 37.0 degrees Celsius.
37 degrees Celsius is equivalent to 98.6 degrees Fahrenheit.

17.) to print all factors of a given no by using a function

In [ ]:
def print_factors(num):
    print("Factors of", num, "are:")
    for i in range(1, num+1):
        if num % i == 0:
            print(i)
num = int(input("Enter a number: "))
print_factors(num)

Enter a number: 12
Factors of 12 are:
1
2
3
4
6
12

18.) Python program to convert a decimal number to binary, octal, and hexadecimal using library functions

In [ ]:
decimal_num = int(input("Enter a decimal number: "))

binary_num = bin(decimal_num)
octal_num = oct(decimal_num)
hexadecimal_num = hex(decimal_num)

print("Binary equivalent of", decimal_num, "is:", binary_num)
print("Octal equivalent of", decimal_num, "is:", octal_num)
print("Hexadecimal equivalent of", decimal_num, "is:", hexadecimal_num)

Enter a decimal number: 12
Binary equivalent of 12 is: 0b1100
Octal equivalent of 12 is: 0o14
Hexadecimal equivalent of 12 is: 0xc

19). Python program to print Fibonacci series using recursion

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
n = 10
if n <= 0:
    print("Invalid input!")
else:
    print("Fibonacci series:")
    for i in range(n):
        print(fibonacci(i), end=" ")

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

20.) Python program to find the factorial of a number using recursion

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
num = int(input("Enter a number: "))
if num < 0:
    print("Factorial cannot be found for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    print("Factorial of", num, "is", factorial(num))

Enter a number: 5
Factorial of 5 is 120

21.) Python code to find the sum of first n natural numbers using recursion

In [ ]:
def sum_natural_num(n):
    if n == 1:
        return 1
    else:
        return n + sum_natural_num(n-1)
n = 5
sum_n = sum_natural_num(n)
print(f"The sum of first {n} natural numbers is: {sum_n}")

The sum of first 5 natural numbers is: 15

22.) Python program that uses recursion to convert a decimal number to its binary equivalent

In [ ]:
def decimal_to_binary(n):
    if n == 0:
        return ''
    else:
        return decimal_to_binary(n // 2) + str(n % 2)
n = 10
binary = decimal_to_binary(n)
print(f"{n} in binary is {binary}")

10 in binary is 1010

23.) write a python program to display powers of 2 using anynomous function

In [ ]:
terms = int(input("How many terms? "))
result = list(map(lambda x: 2 ** x, range(terms)))
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

How many terms? 12
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512
2 raised to power 10 is 1024
2 raised to power 11 is 2048

24.) write a python program to find area of traingle , circle , cylinder using lambda function

In [ ]:
area_of_triangle = lambda b, h: 0.5 * b * h
area_of_circle = lambda r: 3.14159 * r ** 2
area_of_cylinder = lambda r, h: 2 * 3.14159 * r * h + 2 * 3.14159 * r ** 2


print("Enter 1 for triangle, 2 for circle, or 3 for cylinder")
shape = int(input("Enter the shape: "))

if shape == 1:
    base = float(input("Enter the base of the triangle: "))
    height = float(input("Enter the height of the triangle: "))
    area = area_of_triangle(base, height)
    print(f"The area of the triangle is: {area}")
elif shape == 2:
    radius = float(input("Enter the radius of the circle: "))
    area = area_of_circle(radius)
    print(f"The area of the circle is: {area}")
elif shape == 3:
    radius = float(input("Enter the radius of the cylinder: "))
    height = float(input("Enter the height of the cylinder: "))
    area = area_of_cylinder(radius, height)
    print(f"The area of the cylinder is: {area}")
else:
    print("Invalid shape selection. Please try again.")

Enter 1 for triangle, 2 for circle, or 3 for cylinder
Enter the shape: 1
Enter the base of the triangle: 12
Enter the height of the triangle: 13
The area of the triangle is: 78.0

25.) write a python program to add 2 matrices

In [ ]:

rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

matrix1 = []
matrix2 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(0)
    matrix1.append(row)

for i in range(rows):
    row = []
    for j in range(cols):
        row.append(0)
    matrix2.append(row)

print("Enter the elements of the first matrix:")
for i in range(rows):
    for j in range(cols):
        matrix1[i][j] = int(input(f"Enter element ({i+1}, {j+1}): "))

print("Enter the elements of the second matrix:")
for i in range(rows):
    for j in range(cols):
        matrix2[i][j] = int(input(f"Enter element ({i+1}, {j+1}): "))

result = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(matrix1[i][j] + matrix2[i][j])
    result.append(row)

print("The sum of the two matrices is:")
for row in result:
    print(row)

Enter the number of rows: 2
Enter the number of columns: 2
Enter the elements of the first matrix:
Enter element (1, 1): 1
Enter element (1, 2): 2
Enter element (2, 1): 3
Enter element (2, 2): 4
Enter the elements of the second matrix:
Enter element (1, 1): 5
Enter element (1, 2): 6
Enter element (2, 1): 7
Enter element (2, 2): 8
The sum of the two matrices is:
[6, 8]
[10, 12]

26.) write a program to find transpose of a  matrix

In [ ]:
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

matrix = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(0)
    matrix.append(row)

print("Enter the elements of the matrix:")
for i in range(rows):
    for j in range(cols):
        matrix[i][j] = int(input(f"Enter element ({i+1}, {j+1}): "))

transpose = []
for j in range(cols):
    row = []
    for i in range(rows):
        row.append(matrix[i][j])
    transpose.append(row)
    
print("The transpose of the matrix is:")
for row in transpose:
    print(row)

Enter the number of rows: 2
Enter the number of columns: 2
Enter the elements of the matrix:
Enter element (1, 1): 1
Enter element (1, 2): 2
Enter element (2, 1): 3
Enter element (2, 2): 4
The transpose of the matrix is:
[1, 3]
[2, 4]

27.)write a python program to multiply 2 matrices

In [ ]:
rows1 = int(input("Enter the number of rows for matrix 1: "))
cols1 = int(input("Enter the number of columns for matrix 1: "))

rows2 = int(input("Enter the number of rows for matrix 2: "))
cols2 = int(input("Enter the number of columns for matrix 2: "))

if cols1 != rows2:
    print("The matrices cannot be multiplied.")
else:
    matrix1 = []
    matrix2 = []
    for i in range(rows1):
        row = []
        for j in range(cols1):
            row.append(0)
        matrix1.append(row)

    for i in range(rows2):
        row = []
        for j in range(cols2):
            row.append(0)
        matrix2.append(row)

    print("Enter the elements of matrix 1:")
    for i in range(rows1):
        for j in range(cols1):
            matrix1[i][j] = int(input(f"Enter element ({i+1}, {j+1}): "))

    print("Enter the elements of matrix 2:")
    for i in range(rows2):
        for j in range(cols2):
            matrix2[i][j] = int(input(f"Enter element ({i+1}, {j+1}): "))

    product = []
    for i in range(rows1):
        row = []
        for j in range(cols2):
            sum = 0
            for k in range(cols1):
                sum += matrix1[i][k] * matrix2[k][j]
            row.append(sum)
        product.append(row)

    print("The product of the two matrices is:")
    for row in product:
        print(row)

Enter the number of rows for matrix 1: 2
Enter the number of columns for matrix 1: 2
Enter the number of rows for matrix 2: 2
Enter the number of columns for matrix 2: 2
Enter the elements of matrix 1:
Enter element (1, 1): 1
Enter element (1, 2): 2
Enter element (2, 1): 3
Enter element (2, 2): 4
Enter the elements of matrix 2:
Enter element (1, 1): 5
Enter element (1, 2): 6
Enter element (2, 1): 7
Enter element (2, 2): 8
The product of the two matrices is:
[19, 22]
[43, 50]

28.) write a python program to find average of a numeric list

In [ ]:
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 2
Enter element: 1
Enter element: 2

TypeError: ignored

29.) write a program to access members of list using different variations of slice operation

In [ ]:
# create a list of numbers
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# print the entire list
print("The entire list:")
print(numbers)

# print the first three elements of the list using positive indexing
print("The first three elements of the list using positive indexing:")
print(numbers[0:3])

# print the last three elements of the list using negative indexing
print("The last three elements of the list using negative indexing:")
print(numbers[-3:])

# print the middle three elements of the list
print("The middle three elements of the list:")
print(numbers[4:7])

# print every other element of the list
print("Every other element of the list:")
print(numbers[::2])

# print the list in reverse order
print("The list in reverse order:")
print(numbers[::-1])

The entire list:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The first three elements of the list using positive indexing:
[0, 1, 2]
The last three elements of the list using negative indexing:
[7, 8, 9]
The middle three elements of the list:
[4, 5, 6]
Every other element of the list:
[0, 2, 4, 6, 8]
The list in reverse order:
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

30.) write a python program to concatenate two lists

In [ ]:
# create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# concatenate the two lists using the + operator
concatenated_list = list1 + list2

# print the concatenated list
print("The concatenated list is:", concatenated_list)

The concatenated list is: [1, 2, 3, 4, 5, 6]

31.) write a python program to find index of a specific elements and print no of occurences

In [ ]:
numbers = [1, 2, 3, 4, 3, 5, 3]
element = 3

index = numbers.index(element)

print("The index of the first occurrence of", element, "is:", index)

count = numbers.count(element)

print("The number of occurrences of", element, "is:", count)

The index of the first occurrence of 3 is: 2
The number of occurrences of 3 is: 3

32.) write a python program to identify duplicates in a list

In [ ]:
my_list = [1, 2, 3, 4, 1, 5, 2, 6, 3]

duplicates = []

for i in my_list:

    if my_list.count(i) > 1 and i not in duplicates:
        duplicates.append(i)

print("The list of duplicates is:", duplicates)

The list of duplicates is: [1, 2, 3]

33.) write a program to iterate over dictionary using for loop(print all keys , values , items with and without using built in functions/ methods)

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3, 'grape': 4}

for fruit, quantity in my_dict.items():
    print(fruit, quantity)

apple 1
banana 2
orange 3
grape 4

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3, 'grape': 4}

for key in my_dict:

    value = my_dict[key]

    print(key, value)

apple 1
banana 2
orange 3
grape 4

34.) write a python program to illustrate nested dictionary

In [ ]:
my_dict = {
    'fruit1': {
        'name': 'apple',
        'color': 'red',
        'quantity': 5
    },
    'fruit2': {
        'name': 'banana',
        'color': 'yellow',
        'quantity': 10
    },
    'fruit3': {
        'name': 'orange',
        'color': 'orange',
        'quantity': 8
    }
}

for fruit_name, fruit_dict in my_dict.items():
    print(fruit_name)
    for key, value in fruit_dict.items():
        print('\t', key, ':', value)

fruit1
	 name : apple
	 color : red
	 quantity : 5
fruit2
	 name : banana
	 color : yellow
	 quantity : 10
fruit3
	 name : orange
	 color : orange
	 quantity : 8

35.) write a python program to sort the disctionary according to key , according to values

In [ ]:
my_dict = {'apple': 3, 'banana': 2, 'orange': 1, 'grape': 4}

sorted_dict_keys = {k: v for k, v in sorted(my_dict.items())}
print('Sorted dictionary by keys:', sorted_dict_keys)

sorted_dict_values = {k: v for k, v in sorted(my_dict.items(), key=lambda item: item[1])}
print('Sorted dictionary by values:', sorted_dict_values)

Sorted dictionary by keys: {'apple': 3, 'banana': 2, 'grape': 4, 'orange': 1}
Sorted dictionary by values: {'orange': 1, 'banana': 2, 'apple': 3, 'grape': 4}

36.) prepare a python program to illustrate  different set operations

In [ ]:
# create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# union of two sets
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# intersection of two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

# difference of two sets
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

# symmetric difference of two sets
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference of set1 and set2:", symmetric_difference_set)

# check if a set is subset of another set
subset_check = set1.issubset(set2)
print("Is set1 a subset of set2:", subset_check)

# check if a set is superset of another set
superset_check = set1.issuperset(set2)
print("Is set1 a superset of set2:", superset_check)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference of set1 and set2: {1, 2, 3}
Symmetric difference of set1 and set2: {1, 2, 3, 6, 7, 8}
Is set1 a subset of set2: False
Is set1 a superset of set2: False

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# union
union_set = set1.union(set2)
print("Union set:", union_set)

# intersection
intersection_set = set1.intersection(set2)
print("Intersection set:", intersection_set)

# difference
difference_set = set1.difference(set2)
print("Difference set:", difference_set)

# symmetric difference
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference set:", symmetric_difference_set)

Union set: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection set: {4, 5}
Difference set: {1, 2, 3}
Symmetric difference set: {1, 2, 3, 6, 7, 8}

37.)  Python program to check whether a string is a palindrome or not

In [ ]:
def is_palindrome(string):
  
    string = string.strip().lower()

    reversed_string = string[::-1]

    if string == reversed_string:
        return True
    else:
        return False

my_string = "Racecar"
if is_palindrome(my_string):
    print(my_string, "is a palindrome")
else:
    print(my_string, "is not a palindrome")

Racecar is a palindrome

38.) write a python program to remove punctuations from a string

In [ ]:
import string

def remove_punctuations(text):
    # Create a string of all punctuations
    punctuations = string.punctuation
    
    # Remove punctuations from the given text
    no_punctuations = text.translate(str.maketrans('', '', punctuations))
    
    return no_punctuations

# Example usage
text = "Hello, world! This is a string with punctuations."
no_punctuations = remove_punctuations(text)
print("Original Text: ", text)
print("Text with no Punctuations: ", no_punctuations)

39.) write a python program to sort words of a string in alphabetical order

In [ ]:
my_str = input("Enter a string: ")  
# breakdown the string into a list of words  
words = my_str.split()  
# sort the list  
words.sort()  
# display the sorted words  
for word in words:  
   print(word)

Enter a string: anushkajoshi
anushkajoshi

40.) Write a python program to count no of vowles in a statement

In [ ]:
def count_vowels(statement):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in statement:
        if char in vowels:
            count += 1
    return count

# Example usage
my_statement = "This is a sample statement to count vowels."
num_vowels = count_vowels(my_statement)
print("Number of vowels in the statement:", num_vowels)

Number of vowels in the statement: 13

41.) write a python program to check if two string are anagarms or not

In [ ]:
def is_anagram(str1, str2):
    str1 = str1.replace(' ', '').lower()
    str2 = str2.replace(' ', '').lower()
    
    if len(str1) != len(str2):
        return False
    
    freq_dict = {}
    for char in str1:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    
    for char in str2:
        if char in freq_dict:
            freq_dict[char] -= 1
        else:
            return False
    
    for value in freq_dict.values():
        if value != 0:
            return False
    
    return True

string1 = "rail safety"
string2 = "fairy tales"
if is_anagram(string1, string2):
    print(string1, "and", string2, "are anagrams")
else:
    print(string1, "and", string2, "are not anagrams")

rail safety and fairy tales are anagrams

42.) write a python program to count occurences of each word in a given sentence

In [ ]:
def count_words(sentence):
    
    sentence = sentence.lower().replace(',', '').replace('.', '')
    
    words = sentence.split()
  
    word_counts = {}

    for word in words:
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    return word_counts

sentence = "The quick brown fox jumps over the lazy dog. The dog slept over the verandah."
counts = count_words(sentence)
print(counts)

{'the': 4, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 2, 'lazy': 1, 'dog': 2, 'slept': 1, 'verandah': 1}

43.) write a python program to reverse all words of a sentence

In [ ]:
def reverse_words(sentence):
    # split the sentence into words
    words = sentence.split()
    # reverse each word in the list
    words = [word[::-1] for word in words]
    # join the words back together into a sentence
    reversed_sentence = " ".join(words)
    return reversed_sentence

# Example usage
my_sentence = "Hello world, how are you?"
reversed_sentence = reverse_words(my_sentence)
print("Original sentence:", my_sentence)
print("Reversed sentence:", reversed_sentence)

Original sentence: Hello world, how are you?
Reversed sentence: olleH ,dlrow woh era ?uoy